<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Upload image</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/process.js"></script>
</head>
<body>
    <h1>Spatially Invariant Vector Quantization</h1>
    <form action="/upload/" method="post" enctype="multipart/form-data" id="uploadForm" target="uploadResponse">
        Upload image:
        <input type="file" name="image" />
        <input type="submit" value="Upload" />
    </form>
    <form id="optionsForm" action="" method="post">
        <div>
            <p>Image:&nbsp;<input id="imageName" type="text" disabled="disabled" /></p>
            <p>vector&nbsp;x:&nbsp;<input id="vectorX" type="text" class="small" /></p>
            <p>vector&nbsp;y:&nbsp;<input id="vectorY" type="text" class="small" /></p>
            <p>vector&nbsp;radius:&nbsp;<input id="vectorRadius" type="text" class="small" value="10" /></p>
            <p>vector&nbsp;rings:&nbsp;<input id="vectorRings" type="text" class="small" value="1" /></p>
            <p>ring&nbsp;size&nbsp;increment:&nbsp;<input id="ringSizeInc" type="text" class="small" value="2" /></p>
            <p>threshold:&nbsp;<input id="threshold" type="text" class="small" value="0.0" /></p>
            <p>rotation&nbsp;stride:&nbsp;<input id="rotationStride" type="text" class="small" value="0.001" /></p>
            <p>matching&nbsp;value&nbsp;stride&nbsp;(3&nbsp;for&nbsp;grayscale&nbsp;pictures):&nbsp;<input id="matchStride" type="text" class="small" value="1" /></p>
            <p>matching&nbsp;offset:&nbsp;<input id="matchingOffset" type="text" class="small" value="0" /></p>
            <div>Advanced <input type="checkbox" id="advanced" /></div>
            <div id="advancedOptions">
            	<p>gamma adjust: <input id="gammaAdjust" type="text" class="small" value="2.0" /></p>
            </div>
            <div>
                <input type="submit" id="sivq" value="SIVQ" />
                <button type="button" id="stop">Stop</button>
            </div>
        </div>
        <fieldset>
            <legend>Vectors</legend>
            <p>Use previously saved vector: <select id="vectorSelector">{VectorFiles}</select></p>
            <p>Save vector as: <input type="text" id="newVectorName" /> <button type="button" id="saveNewVector">Save</button></p>
        </fieldset>
    </form>
    <div id="images">
        <div id="original" class="image"></div>
        <div id="result" class="image"></div>
    </div>
    <iframe name="uploadResponse" id="uploadResponse" src="javascript:;" style="display:none;"></iframe>
    <script>
    main.init();
    </script>
</body>
</html>
